footer{
      background-color:white;
      padding: 25px;
      }

.fa {
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    padding:10px;
    }
.p1{
    font-size:20px;
    text-align: center;
    padding:5px;
    color:black;
    font-style:oblique;
}
.p2{
    font-size:15px;
    text-align: center;
    padding:5px;
    color:black;
    font-style:italic;
    font-family:fantasy;
}

